<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title text-center" style="border: 0;">
      <a href="/painel" class="site_title"><span>BASELINE</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
  
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>Grupos de Centro de Custo</h3>
        <ul class="nav side-menu">
          <li><a onclick="carregar_todos()"><i class="fa fa-tag"></i> 
            
            Todos 
            {loop="$qtd"}
            <span class="badge badge-primary">{$value.QTD}</span>
            {/loop}
          </a>
         </li>
          {loop="$cc"}
          <li><a href="#" onclick="carregar_por_gcc('{$value.GRUPO_CENTRO_CUSTOS}')"><i class="fa fa-tag"></i> {$value.GRUPO_CENTRO_CUSTOS} <span class="badge badge-primary">{$value.QTD}</span></a>
            <ul class="nav child_menu" id="sub_menu_areas">
              <!-- <li><a href="#" id="sub_menu_areas"></a></li> -->
              <!-- <li><a href="#"></a>Teste</li>
              <li><a href="#"></a>Test2e</li> -->
            </ul>
          </li>
          {/loop}
        </ul>
      </div>
      

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div> -->
    <!-- /menu footer buttons -->
  </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <div class="nav toggle">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="nav navbar-nav">
        <ul class=" navbar-right">
          <li class="nav-item dropdown open" style="padding-left: 15px;">
            <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
              {$user}
            </a>
            <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  href="/dashboard"><i class="fa fa-undo pull-right"></i> Voltar pro Dashborad</a>
              <a class="dropdown-item"  href="/logout"><i class="fa fa-sign-out pull-right"></i> Sair</a>
            </div>
          </li>

          <li role="presentation" class="nav-item ">
            <a href="#" class="info-number">
              <button type="button" class="btn btn-success btn-sm" onclick="carrega_lista_cc()">Listar Centro de Custo</button>
              
            </a>
            
          </li>
        </ul>
      </nav>
    </div>
  </div>