<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3 id="titulo">Importar baseline</h3>
            </div>

            <!-- <div class="title_right">
          <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Pesquisar nome">
              <span class="input-group-btn">
                <button class="btn btn-dark" onclick="buscarpornome()" type="button">Buscar</button>
              </span>
            </div>
          </div>
        </div> -->
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">

                      

                    </div>

                    <div class="x_content">
                        <p>Drag multiple files to the box below for multi upload or click to select files. This is for demonstration purposes only, the files are not uploaded to any server.</p>
                        <form action="/carrega_tabela" class="dropzone" enctype="multipart/form-data" method="POST" id="planilha"></form>
                        <br />
                        <br />
                        <br />
                        <br />
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>