
      <!-- Footer -->
      <footer class="footer pt-0">
        
      </footer>
    </div>
  </div>

  <!-- Argon Scripts -->
  <!-- Core -->
  
  <script src="../res/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../res/assets/DataTables/datatables.min.js"></script>
  <script src="../res/assets/DataTables/bootstrap/js/bootstrap.min.js"></script>
  <script src="../res/assets/js/funcoes/carrega_tabela.js"></script>
  <script src="../res/assets/js/funcoes/load.js"></script>
  <script src="../res/assets/js/funcoes/requests.js"></script>
  <script src="../res/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../res/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="../res/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="../res/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->
  <script src="../res/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="../res/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <!-- <script src="../res/assets/js/argon.js?v=1.2.0"></script> -->
  <script src="../res/assets/js/dashboard.js"></script>
  
</body>

</html>